body{
    background: greenyellow;
}

.imgBox{
    background-image: url('me1.png');
    position: relative;
    top: 7px;
    left: 8px;
    height: 155px;
    width: 155px;
    cursor: pointer;
    background-repeat: no-repeat;
    border: 2px crimson solid;
}

.whiteBox{
    display: inline-block;
    height: 175px;
    width: 175px;
    margin: 10px;
    background-color: white;
    border: 3px black solid;
}

.hold
{
    border: 3px dashed navy;
}
.hide{
    display: none;
}


